.OpenCard{
  background-color: black;
}

.block{
  display: flex;
  justify-content: baseline;
  justify-content: space-around;
  padding: 10px 10rem 0px 5rem;
  background-color: black;
} 

.Circle{
  background-color: grey;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin-right: 5rem;
  margin-top: 2rem;
}
.CategoriesTitle{
  color: white;
  margin-top: 2rem;
  max-width: 25rem;
  font-size: large;
}