.satellitesSection{
    height: 20vh;
    background-color: black;
    color: white;
}

.satellitesPage{
    display: flex;
    background-color: black;
    color: white;
}

.satellitesNavbar{
    display: flex;
}

.satellitesNavbar li{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: Orbitron;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: grey;
}

.satellitesNavbar :Link{
    text-decoration: none;
    color: black;
}

.satellitesNavbar :visited{
    color: black;
    text-decoration: none;
}

.satellitesIframe{
    height:70vh;
    border: 0 ;
    margin-right: 1rem;
}

.satellitesImage{
    height: 50vh;
    width: 50vw;
    padding: 5rem;
}

.satcom{
    background-image: url('https://space.skyrocket.de/img_sat/satcom-c5__1.jpg');
}

.sputnik{
    background-image: url('https://airandspace.si.edu/sites/default/files/2006-25353h_0.jpg');
}