.instructionsBlock {
    color: white;
    padding: 1rem;
    text-align: justify;
    /*background-color: #000124;*/
    margin-top: 10rem;
}

.instructionsText{
  font-family: 'Suravaram', serif;
  font-size: 1.8rem;
  text-align: center; 
}

@media screen and (max-width: 812px) {
  .instructionsText {
    font-size: 1.5rem;
  }
}