@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron&display=swap");

.eventTitle{
    color: white;
}

.eventBlock{
    display: flex;
}

.eventImage{
    height: 60vh;
}

.eventText {
    color: white;
    font-size: 1rem;
    padding: 1rem;
    text-align: justify;
    background: none;
    /*font-family: Orbitron;*/
}

@media screen and (max-width: 750px ){
    
    .eventBlock{
        display: block;
    }

    .eventImage{
        height: auto;
        width: 100vw;
    }
}