@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron&display=swap");

.eventPage{
    background-color:black;
}

.eventImage{
    height: auto;
    width: 100vw;
}

.eventTitle{
    font-size: 1.5rem;
}

.eventBlock iframe{
    width: 100vw;
}


.eventLabelSelector input{
    margin-left: 1rem;
    border-color: white;
    border-radius: 4px;
    color: white;
    background-color: black;
}

.eventText{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
}

@media screen and  (max-height: 750px){

    .eventBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eventImage{
        height: 100vh;
        width: auto;
    }

}


/*
.eventTitle{
    color: white;
}

.eventBlock{
    display: flex;
}

.eventImage{
    height: 60vh;
}

.eventText {
    color: white;
    font-size: 1rem;
    padding: 1rem;
    text-align: justify;
    background: none;
    font-family: Orbitron;*/



