@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron&display=swap");

.eventPage{
    margin-top: 5rem;
}

.eventImage{
    height: auto;
    width: 100vw;
}

.eventTitle{
    font-size: 1.5rem;
    font-family: "Audiowide";
    margin-bottom: 1rem;
    text-align: center;
}

.eventBlock iframe{
    width: 100vw;
}

.eventLabelSelector{
    font-family: "Audiowide";
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}


.eventLabelSelector input{
    margin-left: 1rem;
    border-color: white;
    border-radius: 4px;
    color: white;
    background-color: black;
}

.eventAllButton{
    display: flex;
    justify-content: space-around;
}

.eventButton{
    width: 10.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    background:rgb(80, 80, 80);
    color:rgb(231, 227, 227);
    border: 1px solid rgb(109, 143, 238);
    border-radius: 10%;
    position:relative;
    font-size: 0.9rem;
    cursor:pointer;
    transition:1000ms ease all;
    outline:none;
      }
      
.eventButton:hover{
    background:rgb(185, 185, 185);
    color: rgb(2, 2, 2);
    cursor: pointer;
}

.eventButton:before,.eventButton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:5px;
    width:0;
    background: rgb(41, 77, 195);
    transition:600ms ease all;
}
.eventButton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.eventButton:hover:before,.eventButton:hover:after{
    width:100%;
    transition:1000ms ease all;
    border: none;
}


.eventText{
    text-align: left;
    font-family: "Suravaram", serif;
    letter-spacing: 0.5px;
    line-height: 1.1;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.favForm{
    display: flex;
    justify-content: center;
}

.favInput{
    width: 22rem;
    height: 2.5rem;
    background-color:  rgb(34,31, 31);
    border-radius: 15px;
    text-align: center;
    color: white;
    margin-right: 1rem;
    border-color: rgb(109, 143, 238);
}

.favButton{
    border-radius: 50%;
}

.seeMore{
    text-align: center;
}
@media screen and  (max-height: 750px){

    .eventBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: inherit;
    }

    .eventImage{
        height: 100%;
        width: 100%;
    }

    .eventBlock iframe{
        height: 100vh;
    }

    .eventText{
        font-size: 1.5rem;
        padding: 0.5em;
    }

    .eventPage {
        margin-top: 0;
    }

    .eventButton:before,.eventButton:after{ 
        display: none;
    }

    .eventButton:hover{
        display: none;
    }
    
}

@media screen and (min-width: 851px){

    .eventLabelSelector{
        font-size: 2rem;
    }

    .eventSelectorBlock{
        text-align: center;
    }

    .eventTitle{
        padding: 1.5rem;
        font-size: 2rem;
    }

    .eventText{
        font-size: 1.8rem;
        padding: 0.8rem;
    }

    .eventIframe{
        min-height: 40vh;
    }
}
@media screen  and (max-width: 851px){
    .favForm{
        margin-bottom: 7rem;
    }
    .favInput{
        width: 12rem;
    }

    .eventButton {
        width: 14rem;
        height: 3rem;
        font-size: 1rem;
    }

}
