.linkNavBar {
  color: rgba(0, 0, 0, 0.9);
}

.linkNavBar:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

.linkTitleNavBar {
  color: rgba(0, 0, 0, 0.9);
}

.linkTitleNavBar:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
