.footerBlock {
    background: blue;
    padding: 1em;
}

.titleFooter {
    text-align: center;
}

.copyrightFooter {
    text-align: center;
}

.nameFooter {
    display: flex;
    flex-direction: column;
    line-height: 0em;
    margin-left: 1em;
}

